@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
  --family-Poppins: 'Poppins', sans-serif;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: var(--family-Poppins);
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--color-red); }
  @media (min-width: 768px) {
    body {
      background-image: url(../images/bg-intro-desktop.png); } }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.container {
  width: 85%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 80%; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 1200px; } }

@media (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center; } }

.button {
  text-align: center;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer; }

button:focus,
input:focus {
  outline: 0; }

input {
  display: block;
  width: 100%;
  font-family: var(--family-Poppins); }

.button {
  background: var(--color-green); }
  .button.secondary {
    background: var(--color-blue); }

input[type='submit'] {
  transition: background-color 0.3s; }

input[type='submit']:hover {
  background-color: #61d6a3; }

.errorEmail::placeholder {
  color: var(--color-red); }

.description {
  padding-top: 5.5em;
  color: white;
  text-align: center;
  margin-bottom: 3em; }
  @media (min-width: 768px) {
    .description {
      margin-right: 2em;
      flex: 1;
      padding-top: 0;
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .description {
      text-align: left; } }
  .description h2 {
    font-weight: 700; }
    @media (min-width: 1024px) {
      .description h2 {
        font-size: 3em;
        line-height: 1.2; } }
  .description p {
    font-weight: 300;
    margin-top: 1.5em; }

@media (min-width: 768px) {
  .signup {
    margin-left: 2em;
    flex: 1; } }

.button.secondary {
  text-align: center;
  font-weight: 300;
  padding: 1em 5em;
  line-height: 1.6;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05), 0 3px rgba(0, 0, 0, 0.05), 0 4px rgba(0, 0, 0, 0.05), 0 5px rgba(0, 0, 0, 0.05), 0 6px rgba(0, 0, 0, 0.05), 0 7px rgba(0, 0, 0, 0.05), 0 8px rgba(0, 0, 0, 0.05); }
.button.primary {
  text-transform: uppercase;
  font-size: 0.75em;
  position: relative; }
  .button.primary::after {
    content: '';
    position: absolute;
    bottom: 0.3em;
    left: 0;
    height: 5px;
    width: 100%;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05), 0 3px rgba(0, 0, 0, 0.05), 0 4px rgba(0, 0, 0, 0.05), 0 5px rgba(0, 0, 0, 0.05); }

form.invalid input:invalid,
form.invalid select:invalid,
form.invalid input.invalid,
form.invalid select.invalid {
  border: 2px solid var(--color-red); }

.form {
  margin-top: 1.5em;
  background-color: white;
  padding: 1.2em;
  border-radius: 5px;
  margin-bottom: 4em;
  position: relative;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05), 0 3px rgba(0, 0, 0, 0.05), 0 4px rgba(0, 0, 0, 0.05), 0 5px rgba(0, 0, 0, 0.05), 0 6px rgba(0, 0, 0, 0.05), 0 7px rgba(0, 0, 0, 0.05), 0 8px rgba(0, 0, 0, 0.05); }
  .form * + * {
    margin-top: 0.75em; }
  @media (min-width: 768px) {
    .form {
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .form {
      padding: 2em; } }
  .form div {
    position: relative; }
    .form div img {
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 0;
      width: 20px;
      display: none; }
  .form input {
    padding: 1em;
    border: 1px solid var(--color-grayish-blue);
    border-radius: 5px;
    font-weight: 600; }
  .form span.error {
    text-align: right;
    display: block;
    color: var(--color-red);
    font-size: 0.75em;
    font-style: italic;
    margin-top: 0.4em; }
  .form .term {
    color: var(--color-grayish-blue);
    font-size: 0.7em;
    text-align: center;
    padding: 0 1.5em; }
    .form .term span a {
      text-decoration: none;
      color: var(--color-red);
      font-weight: 700;
      transition: all 0.2s; }
      .form .term span a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
