.description {
  padding-top: 5.5em;
  color: white;
  text-align: center;
  margin-bottom: 3em;

  @include mq(medium) {
    margin-right: 2em;
    flex: 1;
    padding-top: 0;
    margin-bottom: 0;
  }

  @include mq(large) {
    text-align: left;
  }

  h2 {
    font-weight: 700;

    @include mq(large) {
      font-size: 3em;
      line-height: 1.2;
    }
  }

  p {
    font-weight: 300;
    margin-top: 1.5em;
  }
}
