.signup {
  @include mq(medium) {
    margin-left: 2em;
    flex: 1;
  }
}

.button {
  &.secondary {
    text-align: center;
    font-weight: 300;
    padding: 1em 5em;
    line-height: 1.6;
    box-shadow: long-shadow(8);
  }

  &.primary {
    text-transform: uppercase;
    font-size: 0.75em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0.3em;
      left: 0;
      height: 5px;
      width: 100%;
      box-shadow: long-shadow(5);
    }
  }
}

form.invalid input:invalid,
form.invalid select:invalid,
form.invalid input.invalid,
form.invalid select.invalid {
  border: 2px solid var(--color-red);
}

.form {
  margin-top: 1.5em;
  background-color: white;
  padding: 1.2em;
  border-radius: 5px;
  margin-bottom: 4em;
  position: relative;
  box-shadow: long-shadow(8);

  & * + * {
    margin-top: 0.75em;
  }

  @include mq(medium) {
    margin-bottom: 0;
  }
  @include mq(large) {
    padding: 2em;
  }

  div {
    position: relative;
    img {
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 0;
      width: 20px;
      display: none;
    }
  }

  input {
    padding: 1em;
    border: 1px solid var(--color-grayish-blue);
    border-radius: 5px;
    font-weight: 600;
  }

  span.error {
    text-align: right;
    display: block;
    color: var(--color-red);
    font-size: 0.75em;
    font-style: italic;
    margin-top: 0.4em;
  }

  .term {
    color: var(--color-grayish-blue);
    font-size: 0.7em;
    text-align: center;
    padding: 0 1.5em;

    span {
      a {
        text-decoration: none;
        color: var(--color-red);
        font-weight: 700;
        transition: all 0.2s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
